// If succeeded, render new form and prepend success message. Otherwise, show errors.
<% if flash[:success] == true %>
	$('#new_message').parent().html("<%= j render('/messages/new')%>");
	$('#new_message').prepend("<p class='success'><%= t('home.contact.success') %></p>");
<% else %>
	$('#new_message').parent().html("<%= j render('/messages/new')%>");
<% end %>

// Binding events to inputs
formValidations();