<!-- Footer for general devices -->
<footer class="hidden-xs background-black footer-normal" >
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-8 vcenter">
				<p>All materials, texts, videos and images (collectively, the “Materials”) of this Site, are property of Intro Pictures TV, unless otherwise noted, or property of third parties and are protected copyright laws. Intro Pictures TV does not guarantee nor is responsible for the use of the Materials of this site which could violate the rights of those who do not belong or are not affiliated with Intro Pictures TV.</p>
			</div><!--
			--><div class="col-xs-12 col-sm-2 col-sm-offset-2 vcenter"> 
				<%= image_tag("lab_logo.svg", alt: "Intro Pictures logo", title: "Intro Pictures", class: "pull-right") %>
			</div>
			<!-- The empty comment above is necessary to keep the page structure -->
		</div>
	</div>
</footer>

<!-- Footer for small devices -->
<footer class="hidden-sm hidden-md hidden-lg background-black footer-small">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<p>All materials, texts, videos and images (collectively, the “Materials”) of this Site, are property of Intro Pictures TV, unless otherwise noted, or property of third parties and are protected copyright laws. Intro Pictures TV does not guarantee nor is responsible for the use of the Materials of this site which could violate the rights of those who do not belong or are not affiliated with Intro Pictures TV.</p>
				<br/>
			</div>
			<div class="col-xs-12 col-md-1 col-md-offset-3">
				<p style="text-align: center;">Developed by:<br/></p>
				<%= image_tag("lab_logo.svg", alt: "Intro Pictures logo", title: "Intro Pictures", class: "center-block") %>
			</div>
		</div>
	</div>
</footer>