<!-- Footer for general devices -->
<div class="hidden-xs hidden-ms container-fluid footer-normal background-black ">
	<footer>
		<div class="row">
			<div class="col-xs-12 col-sm-8 vcenter">
				<p><%= t('home.footer')%></p>
			</div><!--
			--><div class="col-xs-12 col-sm-2 col-sm-offset-2 vcenter footer-logo"> 
				<a href="http://322lab.com.br" target="_blank"><%= image_tag("lab_logo.svg", alt: t('home.developed_by'), title: t('home.developed_by'), class: "pull-right") %></a>
			</div>
			<!-- The empty comment above is necessary to keep the page structure -->
		</div>
	</footer>
</div>

<!-- Footer for small devices -->
<footer class="hidden-sm hidden-md hidden-lg background-black footer-small">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<p><%= t('home.footer')%></p>
				<br/>
			</div>
			<div class="col-xs-12 col-md-1 col-md-offset-3 footer-logo">
				<a href="http://322lab.com.br" target="_blank"><%= image_tag("lab_logo.svg", alt: t('home.developed_by'), title: t('home.developed_by'), class: "center-block") %></a>
			</div>
		</div>
	</div>
</footer>

<!-- Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78102696-1', 'auto');
  ga('send', 'pageview');

</script>