<nav id="anchor-nav" class="hidden-xs hidden-ms hidden-sm">
	<a href="#header" id="header-nav" class="anchor-nav-item anchor-nav-item-active">&nbsp;</a>
	<a href="#informations" id="informations-nav" class="anchor-nav-item">&nbsp;</a>
	<a href="#contact" id="contact-nav" class="anchor-nav-item">&nbsp;</a>
</nav>