<section class="container anchor-header" data-id="header">
	<div class="row">
	  <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4"> <!-- search-padding vcenter -->
		
	  	 <div class="input-group">
	      <input type="text" class="center-block" id="search" name="search" placeholder="<%= t('home.search')%>" />
	      <span class="input-group-btn">
	        <%= image_tag("lupa.svg", alt: t('home.search'), title: t('home.search'), id: "search-icon") %>
	      </span>
	    </div><!-- /input-group -->
		
		
	  </div>
	</div>
</section>