<section class="container-fluid anchor-header" data-id="header">
	<div class="row">
	  <div class="col-xs-10 col-xs-offset-0 col-sm-5 col-sm-offset-3 col-md-3 col-md-offset-4 search-padding"> <!-- search-padding vcenter -->
		<input type="text" class="center-block" id="search" name="search" placeholder="<%= t('home.search')%>" />
	  </div>
	  <div class="col-xs-2 col-sm-1 col-md-1 nopadding"> <!-- nopadding vcenter -->
		<a href=""><%= image_tag("lupa.svg", alt: t('home.search'), title: t('home.search'), id: "search-icon") %></a>
	  </div>
	</div>
</section>