<!-- Header (follow the user ) -->
<div class="container-fluid">
	<header class="navbar-fixed-top background-black">
		<div class="row">
			<div class="col-xs-12">
				<div class="row">
					<%= image_tag("logo.png", alt: "Intro Pictures logo", title: "Intro Pictures", id: "logo", class: "center-block") %>
					<div class="overlay-all text-right text-language" >
						<div class="row">
							<div class="col-xs-12">
								<a href="#" class="active">EN</a>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<a href="#">PT</a>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<a href="#">ES</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</div>

<!-- Search -->
<div class="container-fluid">
	<div class="row">
	  <div class="col-md-6 col-md-offset-3">
	  	<input type="text" class="center-block" id="search" name="search" placeholder="SEARCH" />
	  </div>
	</div>
</div>

<!-- Jobs -->
<!-- <div class="container-fluid">
	<div class="row">
	  <div class="col-xs-12 col-md-8" style="background-color: green;">.col-xs-12 .col-md-8</div>
	  <div class="col-xs-6 col-md-4" style="background-color: green;">.col-xs-6 .col-md-4</div>
	</div>
</div> -->

<div class="container">

<p>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et sapien sit amet nulla tempus tempor. Cras libero lacus, euismod ut nisi ac, ultrices laoreet metus. Nulla molestie egestas pretium. Morbi sagittis erat in metus blandit, nec tempor lorem ultrices. Mauris ut condimentum lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at hendrerit lectus. Phasellus aliquam justo vitae felis gravida, at porttitor massa ultrices. Donec nec lorem hendrerit odio volutpat venenatis vel ut diam. Suspendisse dapibus urna nisi, ac consequat tortor pharetra ac. Phasellus vitae nisl interdum, molestie ligula sit amet, volutpat erat. Vivamus mollis ac neque a rhoncus.

Nullam id aliquam neque. Proin sapien turpis, sodales et laoreet nec, interdum ut lorem. Vestibulum in finibus justo. Aliquam lacinia eros neque, ac facilisis ligula viverra et. Aliquam varius at neque id auctor. In hac habitasse platea dictumst. Curabitur in nibh lectus.

Nulla facilisi. Nam maximus mauris aliquam viverra lobortis. Donec sit amet nibh semper, dapibus elit vitae, molestie tortor. Quisque eget placerat magna, quis rutrum ex. Curabitur porta nibh quis odio porta tincidunt. Curabitur vitae nunc ac mi dignissim tempor id quis tortor. Phasellus dictum rutrum velit vitae rhoncus. Morbi efficitur urna libero, at cursus neque facilisis vel. Aliquam ante tortor, rhoncus quis sagittis non, volutpat ac nulla. Suspendisse potenti. Pellentesque egestas justo diam, eget accumsan quam feugiat vel. Ut mauris eros, consequat posuere odio in, viverra aliquet elit. Donec fermentum dolor ut urna lobortis mollis. Aenean dictum purus sit amet nunc efficitur, ut viverra ante tristique.

Pellentesque hendrerit rutrum lacus, a scelerisque sapien posuere vel. Nam faucibus, nulla eu iaculis congue, nulla neque efficitur purus, vel sagittis leo elit ac orci. In non magna non ex blandit semper sed sit amet diam. Etiam at sagittis magna. Vivamus pharetra massa lectus. Curabitur vel porttitor diam. Sed aliquet purus velit, in imperdiet neque sollicitudin aliquam. Morbi pellentesque, metus ornare facilisis iaculis, urna erat eleifend elit, nec cursus odio sem vitae arcu. Phasellus eget velit blandit, lobortis mi vel, hendrerit ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac quam nec enim egestas congue eget condimentum felis. Nam ultricies ante in hendrerit dictum.

Nullam sollicitudin vehicula pharetra. Aenean vel fringilla ligula. Donec pretium lacus in pellentesque varius. Nulla pellentesque risus dui, in facilisis leo bibendum ut. Nullam tempor, massa sollicitudin convallis interdum, nunc odio rhoncus ipsum, bibendum posuere enim metus a mauris. Phasellus bibendum rhoncus ante, vitae posuere massa semper quis. Nulla facilisi. Morbi quis metus vitae dui mattis dapibus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent sed massa fringilla, lacinia libero ac, ornare enim. Nam aliquam facilisis nunc, ullamcorper congue neque porttitor sed. Vestibulum laoreet ipsum erat, vel fermentum magna dictum at. Fusce hendrerit rhoncus sapien. Fusce eu nisi maximus, aliquet eros at, faucibus massa. Interdum et malesuada fames ac ante ipsum primis in faucibus.

Nulla eros arcu, suscipit in ante vel, ultrices vestibulum enim. Vivamus eleifend orci nec diam elementum vulputate. Donec molestie sem et quam fermentum laoreet. Curabitur volutpat porta auctor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc facilisis semper rhoncus. Nulla tempor suscipit scelerisque. Sed tellus justo, consectetur vel eros sed, ullamcorper tristique lectus. Nunc et mauris lacus. Pellentesque suscipit erat neque, at malesuada nibh euismod nec. Proin eget ante eu lorem tincidunt posuere varius vitae purus. Suspendisse sit amet mi consequat magna sollicitudin interdum nec sit amet nisl. Nunc quis semper lectus. Proin a lobortis libero, non pretium felis.

Aenean elementum odio vitae eros suscipit, efficitur pulvinar dolor dignissim. Praesent nisl mauris, lobortis ac velit nec, cursus imperdiet est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque molestie hendrerit tellus in gravida. Nunc ornare ut massa vel feugiat. Mauris sed ex ipsum. Ut facilisis metus nec elit tincidunt sollicitudin. Aenean massa sem, ultrices at posuere a, dapibus et ex. Cras lacinia, neque id feugiat dignissim, neque ligula maximus magna, non tempor lectus tortor eget odio. Suspendisse mauris odio, accumsan eget euismod sed, consequat at quam. Nam et tortor ac metus maximus tincidunt. Curabitur ut neque ac justo semper pellentesque. Proin semper diam eu metus ultrices aliquam. Ut sed hendrerit sapien, nec molestie orci.

Suspendisse eleifend, nisl vel dignissim tincidunt, dui ante efficitur lectus, at sollicitudin sem massa at libero. Curabitur enim sem, dignissim ut ex tempor, varius tristique lacus. Duis nulla lacus, imperdiet a metus eu, elementum pulvinar ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam semper est in augue venenatis semper. Suspendisse a pharetra nisl, in maximus leo. Pellentesque ornare ante ut pretium euismod. Sed fermentum ultrices eleifend. Curabitur orci nisi, bibendum ut lectus non, facilisis gravida lectus. Phasellus porttitor molestie imperdiet. Nam eget augue bibendum, pellentesque lacus ut, molestie risus. Vestibulum sed aliquam sem. Fusce non augue nec quam imperdiet tempus. Mauris elit nibh, aliquet at ligula eget, auctor vehicula libero. Vivamus mi lectus, interdum ut libero vel, imperdiet vehicula ipsum.

Nullam a ex vitae massa bibendum iaculis eget at nibh. Morbi id diam mollis ante suscipit efficitur. Aenean euismod ultrices urna id rutrum. Etiam dolor lectus, ultricies at condimentum hendrerit, condimentum in tellus. Integer commodo sem dapibus lacus tincidunt congue. Proin condimentum odio enim, a tincidunt tellus euismod nec. Sed ullamcorper est a auctor tristique. Nam ultricies, enim non dapibus rutrum, arcu mi consectetur sapien, sed porttitor risus orci quis nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam ac elit sed odio dapibus elementum a ut diam. Vivamus enim arcu, malesuada in dolor id, egestas luctus enim. Sed ac turpis efficitur, varius nibh et, auctor lectus.

Nam aliquet nunc ac ipsum elementum posuere. In accumsan massa quis velit faucibus, quis fermentum neque tempor. Maecenas sit amet purus nibh. Sed suscipit convallis lorem, nec pulvinar velit porta eget. Morbi dictum sagittis ipsum. Etiam eget sodales ex, at hendrerit enim. Praesent volutpat ligula vel turpis varius, commodo ornare neque maximus. Morbi volutpat elit eget nulla tempus pulvinar. Vestibulum ultrices, purus cursus dapibus condimentum, metus libero gravida purus, a tincidunt massa felis pellentesque mauris. Pellentesque et dui risus. Sed nec erat ac augue sodales blandit eu at libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis, turpis id gravida pulvinar, eros ligula imperdiet enim, nec pellentesque ante nunc laoreet dolor. Praesent interdum scelerisque turpis. Aliquam aliquet mi non justo feugiat, sed viverra lorem auctor. </p>
</div>

<!-- Info section -->
<section class="info">
	<div class="container">

		<!-- Info: About -->
		<div class="row about">
			<div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1">
				<p>The richness of brazilian folklore and of traditions and festivities from this theme is widely known. However, do you know the great variety of events annualy held, far from big centers and big audience, but even so very essential?</p>

				<p>It aims at showing distinctive and tradional cultural aspects of brazil from its public gathering, in addition to showing different regions of the country, which is so rich in contrasts and different landscapes.
				</p>
			</div>
		</div>

		<!-- Info: Team -->
		<div class="row team">
			<div class="col-xs-12 col-xs-offset-0 col-sm-2 col-sm-offset-3 col-md-1 col-md-offset-4 vcenter">
				<h4>Team</h4>
			</div>
			<div class="col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-0 col-md-5 col-md-offset-0 vcenter">
				<p>
					<span class="membername">Guilherme Passos</span> | <span class="typename">Câncer</span>
				</p>
				<p>
					<span class="membername">Guilherme Passos</span> | <span class="typename">Designer</span>
				</p>
				<p>
					<span class="membername">Guilherme Cunha</span> | <span class="typename">Gerente Chefe em Rola</span>
				</p>
			</div>
		</div>

		<!-- Info: Contact -->
		<div class="row contact">
			<div class="col-xs-12 col-sm-3 col-sm-offset-2 text-center">
				<h4>E-mail</h4>
				<p>projetos@intropictures.tv</p>
				<br class="visible-xs-*" />
			</div>
			<div class="col-xs-12 col-sm-2 text-center">
				<h4>Phone</h4>
				<p>+55 11 5696 4700</p>
				<br class="visible-xs-*" />
			</div>
			<div class="col-xs-12 col-sm-3 text-center">
				<h4>Address</h4>
				<p>Rua Peixoto Gomide 1801/06</p>
				<p>CEP 01409-06</p>
				<p>São Paulo/SP | Brasil</p>
			</div>
		</div>

	</div>
</section>

<!-- Contact form -->

<!-- Footer -->
<footer class="hidden-xs background-black footer-normal" >
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-8 vcenter">
				<p>All materials, texts, videos and images (collectively, the “Materials”) of this Site, are property of Intro Pictures TV, unless otherwise noted, or property of third parties and are protected copyright laws. Intro Pictures TV does not guarantee nor is responsible for the use of the Materials of this site which could violate the rights of those who do not belong or are not affiliated with Intro Pictures TV.</p>
			</div><!--
			--><div class="col-xs-12 col-sm-2 col-sm-offset-2 vcenter"> 
				<%= image_tag("lab_logo.svg", alt: "Intro Pictures logo", title: "Intro Pictures", class: "pull-right") %>
			</div>
			<!-- The empty comment above is necessary to keep the page structure -->
		</div>
	</div>
</footer>

<!-- Footer for small devices -->
<footer class="hidden-sm hidden-md hidden-lg background-black footer-small">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<p>All materials, texts, videos and images (collectively, the “Materials”) of this Site, are property of Intro Pictures TV, unless otherwise noted, or property of third parties and are protected copyright laws. Intro Pictures TV does not guarantee nor is responsible for the use of the Materials of this site which could violate the rights of those who do not belong or are not affiliated with Intro Pictures TV.</p>
				<br/>
			</div>
			<div class="col-xs-12 col-md-1 col-md-offset-3">
				<p style="text-align: center;">Developed by:<br/></p>
				<%= image_tag("lab_logo.svg", alt: "Intro Pictures logo", title: "Intro Pictures", class: "center-block") %>
			</div>
		</div>
	</div>
</footer>