$logo-height: 80px;
$logo-width: 215px;
$logo-padding: 20px;
$footer-padding: 8px;

// Placeholder stylesheet
$placeholder-font-family: Futura LT;
$placeholder-font-weight: bold;
$placeholder-font-size: 22px;
$placeholder-text-transform: uppercase;
$placeholder-color: #FFFFFF;
$placeholder-color-rgb: rgb(255, 255, 255);

/* 
  ====================
        GENERAL
  ====================
*/
body {
  padding-top: $logo-height + ($logo-padding * 2) + 10px;
  padding-bottom: 40px;
  background : #000;
  background : rgba(0, 0, 0, 1);
}

header {
  padding-top: $logo-padding;
  padding-bottom: $logo-padding;
}

footer {
  p {
    font-family : Futura;
    font-size : 10px;
    line-height : 13px;
    color : #B2B2B2;
    color : rgb(178, 178, 178);
    margin: 0px;
  }
}

*:focus {
  outline:0px none transparent !important;
}

*:invalid {
  outline:0px none transparent !important;
}

// Temporary solution for divs with the same height of the row
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
// .row{
//     overflow: hidden;
// }

// [class*="col-"]{
//     margin-bottom: -99999px;
//     padding-bottom: 99999px;
// }
// .row {
//     display: table;
// }

// [class*="col-"] {
//     float: none;
//     display: table-cell;
//     vertical-align: top;
// }
/* 
  ====================
        SECTIONS
  ====================
*/

// Section: search
#search {
  font-family : Futura LT;
  font-weight : bold;
  font-size : 23px;
  text-transform : uppercase;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
  background : #000000;
  background : rgba(0, 0, 0, 1);
  border-style : Solid;
  border-color : #E5E5E5;
  border-color : rgba(229, 229, 229, 1);
  border-width : 1px;
  padding: 5px 10px;
  width: 100%;

  &:hover, &:focus {
    background : #4D4D4D !important;
    background : rgba(77, 77, 77, 1) !important;
    border-style : Solid !important;
    border-color : #FFFFFF !important;
    border-color : rgba(255, 255, 255, 1) !important;
    border-width : 1px !important;
    outline: none;
  }
}

#search-icon {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  line-height: 40px;
  cursor: pointer; 
}

// Section: jobs
.jobs {
  padding-top: 30px;
  padding-bottom: 30px;

  .job-outer {
    text-align: center;
    margin-bottom: 20px;
    z-index: 0;
    cursor: pointer;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    text-decoration: none;

    &:hover {
      p, span, img {
        opacity: 1.0;
        filter: none;
        z-index: 0;
      }
    }

    p, span {
      margin: 5px auto auto auto;
      max-width: 242px;

      color : #FFFFFF;
      color : rgb(255, 255, 255);
      opacity : 0.5;
      filter: alpha(opacity=50) progid:DXImageTransform.Microsoft.Alpha(opacity=50) ;
    }

    img {
      max-width: 242px;
      margin: 0 auto;
      width: 100%;
      height: 136px;
      opacity : 0.5;
      filter: alpha(opacity=50) progid:DXImageTransform.Microsoft.Alpha(opacity=50) ;
    }
  }
}

// Section: info
.info {
  background-color: #FFF;
  padding: 50px 0px;

  // Font for general texts
  font-family : Futura;
  font-size : 16px;
  color : #000000;
  color : rgb(0, 0, 0);

  h4 {
    font-family : Futura LT;
    font-weight : bold;
    font-size : 24px;
    text-transform : uppercase;
    color : #000000;
    color : rgb(0, 0, 0);
  }

  // Info: About
  .about{
    padding-top: 25px;
    padding-bottom: 25px;

    p {
      text-align: center;
    }
  }

  // Info: Team
  .team {
    padding-top: 25px;
    padding-bottom: 25px;

    h4 {
      margin: auto auto;
      // text-align: right;
    }

    p {
      // margin-top: 0px;
      // margin-bottom: 0px;
      margin: auto 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      word-wrap: break-word;

      .typename {
        font-family : Futura;
        font-size : 16px;
        color : #4D4D4D;
        color : rgb(77, 77, 77);
      }

      .membername {
        text-align: right;
      }
    }
  }

  // Info: Contact
  .contact {
    padding-top: 25px;
    // padding-bottom: 25px;

    p {
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
      word-wrap: break-word;
    }
  }
}

// Section: contact form
.contact-form{
  padding-top: 100px;
  padding-bottom: 100px;

  *::-webkit-input-placeholder {
    font-family : $placeholder-font-family;
    font-weight : $placeholder-font-weight;
    font-size : $placeholder-font-size;
    text-transform : $placeholder-text-transform;
    color : $placeholder-color;
    color : $placeholder-color-rgb;
  }
  *:-moz-placeholder {
    font-family : $placeholder-font-family;
    font-weight : $placeholder-font-weight;
    font-size : $placeholder-font-size;
    text-transform : $placeholder-text-transform;
    color : $placeholder-color;
    color : $placeholder-color-rgb;
    opacity: 1;
  }
  *::-moz-placeholder {
    font-family : $placeholder-font-family;
    font-weight : $placeholder-font-weight;
    font-size : $placeholder-font-size;
    text-transform : $placeholder-text-transform;
    color : $placeholder-color;
    color : $placeholder-color-rgb;
    opacity: 1;
  }
  *:-ms-input-placeholder {
    font-family : $placeholder-font-family;
    font-weight : $placeholder-font-weight;
    font-size : $placeholder-font-size;
    text-transform : $placeholder-text-transform;
    color : $placeholder-color;
    color : $placeholder-color-rgb;
  }

  .touched {
    &:valid {
      border-style : solid !important;
      border-color : #7AC843 !important;
      border-color : rgba(122, 200, 67, 1) !important;
      border-width : 1px !important;
    }

    &:invalid {
      border-style : solid !important;
      border-color : #FF1D25 !important;
      border-color : rgba(255, 29, 37, 1) !important;
      border-width : 1px !important;
      outline: none;
    }

    &:focus {
      outline: none;
    }
  }

  .recaptcha-error {
    color: #FF1D25;
    font-family : Futura;
    font-size : 18px;
    text-transform: none;
    text-align: center;
    margin: 10px auto;
  }

  .file-size-error {
    color: #FF1D25;
    font-family : Futura;
    font-size : 18px;
    text-transform: none;
    text-align: left;
    margin: 4px 0px;
  }

  #error_explanation {
    .field_with_errors {
      input, textarea, select, .custom-file-upload {
        border-color: #FF1D25 !important;
      }
    }
  }

  .success {
    font-family : Futura;
    font-size : 18px;
    color : #7AC843 !important;
    color : rgb(255, 255, 255);
    text-transform: none;
    text-align: center;
  }

  input, textarea, select {
    background : #000000;
    background : rgba(0, 0, 0, 1);
    padding: 5px 10px;
    margin: 4px 0px;
    width: 100%;
    resize: none;

    // Prevent Google Chrome blue border when focus
    &:focus{
      outline: none;
    }

    // Font
    font-family : Futura;
    font-size : 18px;
    color : #FFFFFF;
    color : rgb(255, 255, 255);
    text-transform: none;

    // Validation
    border-style : Solid;
    border-color : #FFFFFF;
    border-color : rgba(255, 255, 255, 1);
    border-width : 1px;

    &:invalid {
      border-style : Solid;
      border-color : #FFFFFF;
      border-color : rgba(255, 255, 255, 1);
      border-width : 1px;
    }
  }

  input, textarea {
    &:focus, &:hover {
      background : #4D4D4D !important;
      background : rgba(77, 77, 77, 1) !important;
      border-style : Solid !important;
      border-color : #FFFFFF !important;
      border-color : rgba(255, 255, 255, 1) !important;
      border-width : 1px !important;
    }
  }

  // Select button (with options) for departaments
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    overflow: hidden;
    background: image-url("seta_contato.svg") no-repeat;
    background-position: 98% center;
    background-color: black;
    font-family : $placeholder-font-family !important;
    font-weight : $placeholder-font-weight !important;
    font-size : $placeholder-font-size !important;
    text-transform : $placeholder-text-transform !important;
    color : $placeholder-color !important;
    color : $placeholder-color-rgb !important;
  }

  // Attach file
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    text-transform : uppercase;
    width: 100%;
    font-family : Futura LT;
    font-weight : bold;
    font-size : 14px;
    text-transform : uppercase;
    color : #FFFFFF;
    color : rgb(255, 255, 255);

    input[type=file] {
      display: none;
    }
  }

  .custom-file-upload-green {
    border-style : solid !important;
    border-color : #7AC843 !important;
    border-color : rgba(122, 200, 67, 1) !important;
    border-width : 1px !important;
  }

  // Submit button
  .submit{
    background : #FFFFFF;
    background : rgba(255, 255, 255, 1);
    font-family : Futura LT;
    font-weight : bold;
    font-size : 30px;
    text-transform : uppercase;
    color : #000000;
    color : rgb(0, 0, 0);
    width: auto;
    margin: 4px auto;
    border: 0;

    &:hover {
      background : #CBCBCB;
      background : rgba(203, 203, 203, 1);
      border: 0 !important;
    }
  }

  .textoContatoAnexo
  {
    font-family : Futura LT;
    font-weight : bold;
    font-size : 20px;
    text-transform : uppercase;
    color : #FFFFFF;
    color : rgb(255, 255, 255);
  }

  .boxContatoVerde
  {
    background : #000000;
    background : rgba(0, 0, 0, 1);
    
  }

  .boxContatoVermelho
  {
    background : #000000;
    background : rgba(0, 0, 0, 1);
    
  }

  .textoContatoPreenchido
  {
    font-family : Futura;
    font-size : 25px;
    color : #FFFFFF;
    color : rgb(255, 255, 255);
  }

  .textoContatoAlert
  {
    font-family : Futura;
    font-size : 18px;
    color : #FF1D25;
    color : rgb(255, 29, 37);
  }
}

// Section: footer
.footer-normal {
  position: fixed;
  bottom: 0px;
  padding-top: $footer-padding;
  padding-bottom: $footer-padding;
  width: 100%;

  img {
    height: 100%;
  }

  .footer-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}



.footer-small {
  padding-top: 20px;

  .footer-logo {
    margin-top: 20px;
  }
}

/* 
  ====================
        JOB MODAL
  ====================
*/

// Scroll bar for Chrome
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  border-style : Solid;
  border-color : #4D4D4D;
  border-color : rgba(77, 77, 77, 1);
}

::-webkit-scrollbar-track-piece {
  border-radius: 0px;
  border-style : Solid;
  border-color : #CBCBCB;
  border-color : rgba(203, 203, 203, 1);
}

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

.job-modal {

  .modal-dialog {
    width: 80%;

    .modal-content{
      
      /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
      width:inherit;
      height:inherit;
      /* To center horizontally */
      margin: 0 auto;
      pointer-events: all;

      // Custom
      border: none;
      border-radius: 0px;
      width: 90%;

      .modal-body {
        padding-bottom: 0px;
        padding-top: 0px;
        // height: 80vh;

        .video-title {
          font-family : Futura;
          font-size : 35px;
          font-weight : bold;
          line-height : 30px;
          color : #000000;
          color : rgb(0, 0, 0);
          text-transform : uppercase;
        }

        .video-year {
          font-family : Futura;
          font-size : 25px;
          line-height : 20px;
          color : #333333;
          color : rgb(51, 51, 51);
          padding-bottom: 0px;
        }

        .description-title
        {
          font-family : Futura;
          font-weight : bold;
          font-size : 30px;
          text-transform : uppercase;
          color : #000000;
          color : rgb(0, 0, 0);
        }

        .description-text
        {
          font-family : Futura;
          font-size : 12px;
          color : #000000;
          color : rgb(0, 0, 0);
        }

        .col-video {
          padding: 0px !important; 
          margin: 0px !important;
          background-color: black;

          .video {
            max-width: 100%;
            // width: 100%;
            // max-height: 80vh;
            // height: 80vh;
          }
        }

        .col-video-description {
          max-width: 100%;
          padding: 15px;
          overflow-y: auto;
          background-color: white;

          .datasheet {

            // Rows
            .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
              background : #E5E5E5 !important;
              background : rgba(229, 229, 229, 1) !important;
            }

            // Cells
            .table-striped>tbody>tr:nth-child(odd)>td, 
            .table-striped>tbody>tr:nth-child(odd)>th {
              background-color: #F1F1F1;
              background-color: rgba(241,241,241, 1);
            }
            
            td {
              border-top: none;
            }
          }
        }

        .locked {

          form {
            text-align: center;
          }

          *::-webkit-input-placeholder {
            font-family : $placeholder-font-family;
            font-weight : $placeholder-font-weight;
            font-size : 18px;
            text-transform : $placeholder-text-transform;
            color : #666;
          }
          *:-moz-placeholder {
            font-family : $placeholder-font-family;
            font-weight : $placeholder-font-weight;
            font-size : 18px;
            text-transform : $placeholder-text-transform;
            color : #666;
            opacity: 1;
          }
          *::-moz-placeholder {
            font-family : $placeholder-font-family;
            font-weight : $placeholder-font-weight;
            font-size : 18px;
            text-transform : $placeholder-text-transform;
            color : #666;
            opacity: 1;
          }
          *:-ms-input-placeholder {
            font-family : $placeholder-font-family;
            font-weight : $placeholder-font-weight;
            font-size : 18px;
            text-transform : $placeholder-text-transform;
            color : #666;
          }

          .description-title {
            margin-bottom: 0px;
          }

          .description-text { }

          .unlock_password_text {
            background: #EEE;
            padding: 5px 10px;
            margin: 4px 0px;
            width: 100%;
            resize: none;
            border: 1px solid #CBCBCB;

            // Prevent Google Chrome blue border when focus
            &:focus{
              outline: none;
            }

            // Font
            font-family : Futura;
            font-size : 18px;
            color : black;
            color : rgb(0, 0, 0);
            text-transform: none;
          }

          .unlock_password_text_wrong {
            border: 1px solid #FF1D25 !important;
          }

          .unlock_password_button {
            background : black;
            background : rgba(0, 0, 0, 1);
            font-family : Futura LT;
            font-weight : bold;
            font-size : 18px;
            text-transform : uppercase;
            color : white;
            padding: 5px 20px;
            margin: 4px auto;
            border: 0;

            &:hover {
              color: #CBCBCB;
              border: 0 !important;
            }
          }
        }
      }
    }
  }
}

.modal-backdrop {
  opacity: 0.8 !important;
  filter: alpha(opacity=80) !important;
}

.locked-video {
  margin: 50px auto;
  vertical-align: middle;
  text-align: center;

  img {
    height: auto;
    width: 150px;
    margin: 0 auto 15px auto;
  }

  p {
    margin: 2px 0px;
    font-family: Futura LT;
    font-size: 35px;
    font-weight: bold;
    line-height: 40px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    word-break: normal;
  }
}

/* 
  ====================
         ANCHOR
  ====================
*/
.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

#header {
  top: -150px !important;
}

#contact {
  top: -30px;
}

#anchor-nav {

  position: fixed;
  top: 47%;
  right: 7px;
  z-index:10;

  .anchor-nav-item {
    background : #989898;
    background : rgba(152, 152, 152, 1);
    height: 11px;
    width: 11px;
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
    z-index:10;
    text-decoration: none;
  }

  .anchor-nav-item-active{
    background : #E5E5E5;
    background : rgba(229, 229, 229, 1);
  }

}

/* 
  ====================
          MISC
  ====================
*/

#no-result {
  display: none;
  font-size: 22px;
  color: #4d4d4d;
}

#logo {
  width: $logo-width;
  height: $logo-height;

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
  }
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.background-black {
  background : #000;
  background : rgba(0, 0, 0, 1);
}

.overlay-all{
  position: absolute;
  right: 40px;
  top: 0px;
}

.text-language {

  a {
    font-family : Futura LT;
    font-weight : bold;
    font-size : 18px;
    text-transform : uppercase;
    color : #666666;
    color : rgb(102, 102, 102);
    text-decoration: none;

    &:hover {
      color: #CBCBCB;
    }
  }

  .active {
    color : #FFF;
    color : rgb(255, 255, 255);
    &:hover {
      color: #FFF;
    }
  }
  
}






// Extra-small
@media(max-width: $screen-xs-max){

  .g-recaptcha iframe {
    max-width: 100%;
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin: center center;
    -webkit-transform-origin: center center;
  }
  #rc-imageselect {
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }

  .info {
    padding: 25px 0px;

    h4 {
      text-align: center;
      padding: 10px 0px;
    }

    .about {
      padding: 10px 0px;
    }

    .team {
      padding: 5px 0px 10px 0px;
      p {
        text-align: center;
      }
    }

    .contact {
      padding: 10px 0px;
    }
  }

  .contact-form{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .job-modal {
    .modal-dialog {
      width: 90%;

      .modal-content {
        width: 98%;
        margin: 100px auto;
      }
    }
  }

}

// Medium small
@media(min-width: $screen-ms-min){
  #rc-imageselect {
    transform: none;
    -webkit-transform: none;
  }

  .g-recaptcha iframe {
    max-width: none;
    transform: none;
    -webkit-transform: none;
  }

  .job-modal {
    .vertical-alignment-helper {
      display:table;
      height: 100%;
      width: 100%;
      pointer-events:none; //This makes sure that we can still click outside of the modal to close it
    }
    .vertical-align-center {
      /* To center vertically */
      display: table-cell;
      vertical-align: middle;
      pointer-events:none;
    }

    .modal-dialog {
      width: 70%;

      .modal-content {
        width: 70%;
        margin: auto auto;
      }
    }
  }
  
}



// Small
@media(min-width: $screen-sm-min){
  .nopadding {
    padding-left: 0px !important;
    margin-left: 5px !important;
  }

  .job-modal {

    .vertical-alignment-helper {
      display: inherit;
      height: auto;
      width: auto;
    }
    .vertical-align-center { 
      display: inherit;
    }

    .modal-dialog {
      width: 90%;

      .modal-content {
        width: 98%;
        margin: 100px auto;
      }
    }
  }

}

// Medium
@media(min-width: $screen-md-min){
  .nopadding {
    padding-left: 0px !important;
    margin-left: 5px !important;
  }

  .locked-video {
    margin: auto auto;
  }

  .info {
    .team {
      h4 {
        text-align: right;
        margin: auto 0px;
      }
    }
  }

  .job-modal {

    .vertical-alignment-helper {
      display:table;
      height: 100%;
      width: 100%;
      pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
    }
    .vertical-align-center {
      /* To center vertically */
      display: table-cell;
      vertical-align: middle;
      pointer-events:none;
    }

    .modal-dialog {
      width: 80%;

      .modal-content{
        /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
        width:inherit;
        height:inherit;
        /* To center horizontally */
        margin: 0 auto;
        pointer-events: all;

        // Custom
        border: none;
        border-radius: 0px;
        width: 90%;
        max-width: $screen-md-max;

        .modal-body {
          padding-bottom: 0px;
          padding-top: 0px;
          // height: 400px;
          // height: 80vh;

          .video-title {
            font-family : Futura;
            font-size : 35px;
            font-weight : bold;
            // line-height : 30px;
            line-height: 38px;
            color : #000000;
            color : rgb(0, 0, 0);
            text-transform : uppercase;
          }

          .video-year {
            font-family : Futura;
            font-size : 25px;
            line-height : 20px;
            color : #333333;
            color : rgb(51, 51, 51);
            margin-bottom: 15px;
            padding-bottom: 0px;
          }

          .locked {
            max-height: 450px;
            height: 450px;
          }         

          .description-title
          {
            font-family : Futura;
            font-weight : bold;
            font-size : 30px;
            text-transform : uppercase;
            color : #000000;
            color : rgb(0, 0, 0);
          }

          .description-text
          {
            font-family : Futura;
            font-size : 12px;
            color : #000000;
            color : rgb(0, 0, 0);
          }

          .col-video {
            padding: 0px !important; 
            margin: 0px !important;
            background-color: black;

            .video {
              max-width: 100%;
              // max-height: 80vh;
              // height: 80vh;
            }
          }

          .col-video-description {
            max-width: 100%;
            // max-height: 80vh;
            // height: 80vh;
            max-height: 450px;
            padding: 15px;
            overflow-y: auto;

            .meta {
              border-bottom: 5px;
              border-bottom-color: #000;
              border-bottom-style: solid;
              margin-bottom: 10px;
              display: block;
            }

            .synopsis {
              display: block;
            }

            .datasheet {

              // Rows
              .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
                background : #E5E5E5 !important;
                background : rgba(229, 229, 229, 1) !important;
              }

              // Cells
              .table-striped>tbody>tr:nth-child(odd)>td, 
              .table-striped>tbody>tr:nth-child(odd)>th {
                background-color: #F1F1F1;
                background-color: rgba(241,241,241, 1);
              }
              
              td {
                border-top: none;
              }
            }
          }

        }
      }
    }
  }
}

// Large
@media(min-width: $screen-lg-min){
  .jobs {
    max-width: 1353px !important; // cuidado com isso
  }
    
  .nopadding {
    padding-left: 0px !important;
    margin-left: 5px !important;
  }

  .job-modal .modal-dialog .modal-content {
    width: inherit;
    max-width: $screen-lg-min;
  }
}

// Recaptcha
.g-recaptcha > div > div{
  margin: 4px auto !important;
  text-align: center;
  width: auto !important;
  height: auto !important;
}
